<%- include("partials/header")-%>

<h1>Compose</h1>
<form action="/delete" method="post">
    <div class="form-group">

        <label>Title</label>
        <input class="form-control" type="text" name="deleteTitle" id="">
        
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>

<%- include("partials/footer")-%>